@font-face
  font-family 'zzgfyh'
  src url("/notes/assets/fonts/zzgfyhr.otf")

body
  font-family 'zzgfyh'

img.logo
  border-radius 8px

.hero img
  border-radius 50%
.page
  word-break break-all

.sidebar
  .nav-links
    .nav-item
      a.nav-link
        display block

// markdown task list checkbox
.contains-task-list
  padding-left 0
  li
    list-style-type none

.text-hl
  background-color #EB8848
  border-radius 4px
