@font-face
  font-family DINRegular
  src url("/notes/assets/fonts/DIN-Regular.otf")

body
  font-family DINRegular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Microsoft YaHei", "微软雅黑", sans-serif
  text-size-adjust 100%

img.logo
  border-radius 8px

.hero img
  border-radius 50%

.page
  word-break break-all

.sidebar
  .nav-links
    .nav-item
      a.nav-link
        display block

// markdown task list checkbox
.contains-task-list
  padding-left 0

  li
    list-style-type none

.text-hl
  background-color #EB8848
  border-radius 4px
