// 覆写主题的亮色代码高亮样式
:root
  @media (prefers-color-scheme light)
    --codeBgColor $codeBgColor
    --preTextColor $preTextColor
    --highedBgColor $highedBgColor
    --languageTextColor $languageTextColor
    --lineNumbersColor $lineNumbersColor
    --highlightedBgColor $highlightedBgColor
