// 覆写主题的亮色代码高亮样式
:root
  @media (prefers-color-scheme light)
    --codeBgColor $codeBgColor
    --preTextColor $preTextColor
    --highedBgColor $highedBgColor
    --languageTextColor $languageTextColor
    --lineNumbersColor $lineNumbersColor
    --highlightedBgColor $highlightedBgColor

$codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile ini sql
